<!doctype html>
<html>
    <head>
        <title>Company Page</title>
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <h1>Company Page</h1>
        <h2> Current Employees: </h2>
        
        <table>
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Salary</th>
                <th>Dno</th>
            </tr>
            </thead>
            <tbody>
                {{#each data}}
                    <tr>
                        <td>{{this.Fname}}</td>
                        <td>{{this.Lname}}</td>
                        <td>{{this.Salary}}</td>
                        <td>{{this.Dno}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <form action = '/search/'>
            <label for="search">Search employee for first name starting with:</label><br>
            <input type="text" id="key" name="key"><br>
            <button>Search</button>
        </form>
        <footer>
            <p>by scaccol</p>
        </footer>    
    </body>
</html>
